@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #cfd8db;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logoFont {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;

    /* Apply multiple colors with different font-weight for subtle blending */
  color: rgb(56, 117, 222); /* Starting color */
  -webkit-text-stroke: 1px rgb(0, 148, 255); /* Ending color as stroke */

  

  /* Add shadows for depth */
  
  /* text-shadow: */
    /* 2px 2px 0px rgba(0, 0, 0, 0.2), */
    /* 4px 4px 5px rgba(255, 255, 255, 0.8); */

}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  /* background-image: linear-gradient(-60deg, #cfd8db 50%, rgb(121, 193, 240) 50%); */
  background-image: linear-gradient(-60deg, #d0e0e5 50%, rgb(151, 176, 192) 50%);

  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 500px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  inset: 0;
  /* Inset property fills the entire button area */
  z-index: -1;
  /* Place the pseudo-element behind the button content */
  border-radius: inherit;
  /* Inherit border-radius from the button */
  box-shadow: 0 0 10px 4px rgba(0, 128, 255, 0.3);
  /* Adjust as desired */
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}